@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
  body {
    background-image: url('../img/pattern.png');
  }
    */

  /*FUENTES*/
  @font-face {
    font-family: 'TrebuchetMS';
    src: url('fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'WebSymbolsRegular';
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/websymbols-regular-webfont.woff') format('woff'),
      url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
      url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .symbol {
    font-family: 'WebSymbolsRegular';
  }

  .bebas {
    font-family: 'BebasNeue';
  }

  .trebuchet {
    font-family: 'TrebuchetMS';
  }
}

@layer components {
  /* Estilos menú */
  .menu-item {
    @apply mr-5 ml-5 tracking-wider flex-none xs:flex-1;
  }

  .menu-item-a {
    @apply block transition duration-200 hover:text-azul-claro transform hover:scale-125;
  }

  /* Estilos banner */
  .text-banner {
    font-family: 'BebasNeue';
    text-shadow: 2px 2px 1px black;
  }

  /* Estilos tarjetas */
  .card {
    @apply flex-1 h-80 border-2 border-gray-200 shadow-md bg-white overflow-hidden m-5 mt-10 pl-5 pr-5 cursor-pointer transition duration-300 hover:bg-black xs:h-40 xs:m-2 md:h-40 md:m-2 lg:h-80;
  }

  .card-icon {
    font-family: 'WebSymbolsRegular';
    @apply transform block w-full h-32 text-5xl text-center mt-12 pt-5 mx-auto transition duration-300 group-hover:scale-150 group-hover:pt-5 group-hover:text-azul-claro group-hover:animate-show-card-icon xs:mt-3 xs:h-20 md:mt-3 md:h-20 lg:mt-12 lg:h-32;
  }

  .card-category {
    @apply w-full h-12 text-xl font-bold text-center text-azul-oscuro transition duration-300 group-hover:text-white group-hover:animate-show-card-category xs:text-base xs:h-6 md:text-base md:h-6 lg:text-lg lg:m-5 lg:h-12;
  }

  .card-description {
    font-family: 'TrebuchetMS';
    @apply text-center text-azul-oscuro text-base transition duration-300 group-hover:text-white group-hover:animate-show-card-description xs:hidden md:hidden lg:block lg:text-sm lg:mt-1.5 xl:text-base xl:mt-1;
  }

  .articles-header {
    background: url('../img/pxgray.png'), white;
    @apply block bebas w-full h-20 text-center text-5xl font-medium tracking-widest pt-5 border shadow-header3D;
  }

  .article-item {
    @apply w-full h-auto border border-gray-200 m-10 mx-auto p-2.5 bg-white text-black;
  }

  .article-data {
    @apply float-right text-white bg-gray-800 h-10 leading-6 p-2 -m-2.5 text-sm rounded-bl-lg;
  }

  .article-data span {
    @apply m-2.5;
  }

  .article-head {
    @apply block text-2xl m-1;
  }

  .article-head a {
    @apply font-semibold text-azul-oscuro hover:underline;
  }

  .article-description {
    @apply block mt-3 mb-3 text-base font-sans font-normal;
  }

  .aside-header {
    background: url('../img/pxgray.png'), white;
    @apply bebas block h-11 leading-10 text-3xl font-medium tracking-widest pl-3.5 pt-1 mb-3.5 border shadow-header3D;
  }

  .aside-box {
    @apply w-10/12 h-60 mt-5 mb-7 mx-auto pt-1 bg-white shadow-box;
  }

  .login-icon {
    @apply symbol text-center absolute ml-7 mt-1 h-8;
  }

  .login-input {
    @apply block mx-auto mt-5 w-10/12 h-8 border border-gray-300 shadow-inner pl-7 rounded-md text-gray-500 transition duration-300 outline-none focus:outline-none focus:text-gray-600;
  }
}
